html, body {
  padding: 20px;
}


.container {
  max-width: 1200px;
  margin: 30px auto;
}

img {
  width: 256px;
  height: auto;
  padding: 10px;
  padding-left: 0;
}

img:nth-child(1) {
  padding-left: 10px;
}

button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
}

button:hover {
    background: orangered;
}

button:active {
    background: #000;
    color: #fff;
}

.slider {
    border: 2px solid black;
    width: 1074px;
    height: 341px;
    overflow: hidden;
}

.slider-line {
  height: 341px;
  width: 1074px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.hidden {
  display: none;
}

.slider-next {
  position: absolute;
  left:  1050px;
}